<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CommentMapper">
    <resultMap id="comment" type="Comment">
        <result column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="articleId" property="articleId"/>
        <result column="from_id" property="fromId"/>
        <result column="to_id" property="toId"/>
        <result column="like_num" property="likeNum"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="from_name" property="fromName"/>
        <result column="to_name" property="toName"/>
        <result column="from_cover" property="fromCover"/>
        <result column="to_cover" property="toCover"/>
    </resultMap>

    <select id="getByArticleId" resultMap="comment" resultType="Comment" parameterType="int">
        select * from comment where articleId = #{articleId};
    </select>

    <insert id="add" parameterType="Comment">
        insert into comment(pid, articleId, from_id, to_id, like_num, content, create_time)
        values (#{pid},#{articleId},#{fromId},#{toId},#{likeNum},#{content},#{createTime});
    </insert>

    <select id="findLastId" resultType="Integer">
        SELECT id FROM comment ORDER BY id DESC LIMIT 1;
    </select>

</mapper>
